<!DOCTYPE html>
<html>
<head>
<title>2014 Math Bowl</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/hot-sneaks/jquery-ui-1.10.2.custom.min.css"
	rel="stylesheet" media="screen">
<link href="/css/style.css" rel="stylesheet" media="screen">
</head>
<body>
    
	<div id="gradeChoice">
		<input type="radio" id="grade1" name="grade" checked="checked" value="1"><label for="grade1">1st Grade</label> 
		<input type="radio" id="grade2" name="grade" value="2"><label for="grade2">2nd Grade</label> 
	</div>
	<div id="roundChoice">
		<input type="radio" id="round1" name="round" checked="checked" value="1"><label for="round1">Round 1</label> 
		<input type="radio" id="round2" name="round" value="2"><label for="round2">Round 2</label> 
		<input type="radio" id="round3" name="round" value="3"><label for="round3">Round 3</label> 
		<input type="radio" id="round4" name="round" value="4"><label for="round4">Round 4</label>
	</div>

	<span id="question" class="ui-state-error ui-corner-all"></span>
	<br/>
	<span id="answerLabel">Answer? </span>
	<input id="answer" class="ui-widget ui-corner-all">
	<div id="correct" class="ui-state-highlight ui-corner-all" style="padding: 0 .7em; float: left">
		<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
		You're smart! &#9786;	
	</div>
	<div id="wrong" class="ui-state-error ui-corner-all" style="padding: 0 .7em; float: left">
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
		Oops! &#9785;
	</div>
	<br/>
	
	<div class="timeLabel">Round1 Time: </div><div id="time1" class="time ui-widget ui-corner-all"></div>
	<div class="timeLabel">Round2 Time: </div><div id="time2" class="time ui-widget ui-corner-all"></div>
	<div class="timeLabel">Round3 Time: </div><div id="time3" class="time ui-widget ui-corner-all"></div>
	<div class="timeLabel">Round4 Time: </div><div id="time4" class="time ui-widget ui-corner-all"></div>
	
	<div id="audio"></div>

	
	<script src="/js/jquery-1.9.1.min.js"></script>
	<script src="/js/jquery-ui-1.10.2.custom.min.js"></script>
	<script src="/js/speakClient.js"></script>
	<script src="/js/quiz.js"></script>
	<script src="/js/practice-2014.js"></script>
	
</body>
</html>